@import 'variables';
@import '../../../style/color-const';

.employee-view {
  height:100%;
  //overflow-y:auto;
  .hour-rows{
    height:calc(100% - 30px);
    overflow-y:auto;
  }
  .hour-segment {
    height: 30px;
  }
  .col-header{
    height:30px;
    line-height:30px;
    text-align:center;
    color:#fff;
    background-color:$mw-primary;
  }

  .col-wrap{
    border-left:thin solid #e1e1e1;
    min-width: 80px;
  }
  .hour-event .hour:not(:last-child) .hour-segment,
  .hour-event .hour:last-child .hour-segment:not(:last-child) {
    border-bottom: 1px dashed #e1e1e1;
  }

  .time {
    font-weight: bold;
    padding-top: 5px;
  }

  .event {
    position: absolute;
    border: solid 1px;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .event.starts-within-day {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .event.ends-within-day {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .hour-col-time {
    //margin-top:15px;
    padding-top:15px;
    padding-bottom:15px;
    width: 70px;
    border-top: solid 1px #e1e1e1;
    border-left: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
    text-align: center;
    background-color:#fff;
    height:1472px;
  }

  .hour-col-events {
    position: relative;
    overflow-x: auto;
    //width: calc(100% - 70px);
    border-right: solid 1px #e1e1e1;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
    background: linear-gradient(to bottom, #fff 30px, #fafafa 30px) 0 0/auto 60px;
    height:1472px;
  }
  .view-foot {
      background-color: #fff;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      border: solid 1px #e1e1e1;
  }
}
