<div class="employee-view">
    <div class="hour-rows" layout="row">
        <div class="hour-col-time">
            <div class="hour" *ngFor="let hour of hours; trackBy:trackByItem">
                <div class="hour-segment" *ngFor="let segment of hour.segments; trackBy:trackByItem" (click)="hourSegmentClicked.emit({date: segment.date.toDate()})">
                    <div *ngIf="segment.isStart" class="time">
                        {{ segment.date | calendarDate:'day':'hour' }}
                    </div>
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="hour-col-events" layout="row" flex>
            <div *ngFor="let header of headers" flex="1" layout="column" class="col-wrap">
                <div class="col-header">
                    <span>{{header.name}}</span>
                </div>
                <div flex class="col-body"></div>
            </div>
            <!-- <div
            class="event"
            *ngFor="let dayEvent of view?.events; trackBy:trackByItem"
            [style.marginTop.px]="dayEvent.top"
            [style.marginLeft.px]="dayEvent.left"
            [style.height.px]="dayEvent.height"
            [style.width.px]="dayEvent.width - 1"
            [style.backgroundColor]="dayEvent.event.color.secondary"
            [style.borderColor]="dayEvent.event.color.primary"
            [class.starts-within-day]="!dayEvent.startsBeforeDay"
            [class.ends-within-day]="!dayEvent.endsAfterDay"
            [ngClass]="dayEvent.event.cssClass">
            <a
              class="event-title"
              href="javascript:;"
              [innerHtml]="dayEvent.event | calendarEventTitle:'day'"
              (click)="eventClicked.emit({event: dayEvent.event})">
            </a>
            <span *ngIf="dayEvent.event.actions" class="event-actions">
              <a
                class="event-action"
                href="javascript:;"
                *ngFor="let action of dayEvent.event.actions; trackBy:trackByItem"
                (click)="action.onClick({event: dayEvent.event})"
                [ngClass]="action.cssClass"
                [innerHtml]="action.label">
              </a>
            </span>
          </div> -->
            <!-- <div class="hour-event">
                <div class="hour" *ngFor="let hour of hours; trackBy:trackByItem" [style.minWidth.px]="view?.width">
                    <div class="hour-segment" *ngFor="let segment of hour.segments; trackBy:trackByItem">
                        &nbsp;
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="view-foot"></div>
</div>
