<div class="booking-table-component">
    <div layout="row">
        <div flex class="booking-table-content" flex="100">
            <header class="c-header" layout="row" layout-align="space-between center">
                <span class="mw-fs-24">预约中心</span>
                <div class="btn-group">
                    <div class="btn btn-primary" (click)="decrement()">
                        Previous
                    </div>
                    <div class="btn btn-default" (click)="today()">
                        {{ date | date:'yyyy-MM-dd' }}
                    </div>
                    <div class="btn btn-primary" (click)="increment()">
                        Next
                    </div>
                </div>
                <ng-select [allowClear]="true"
                    [(items)]="storeList"
                    placeholder="请选择门店"
                    style="min-width:200px;">
                </ng-select>
                <datetime [(ngModel)]="date"></datetime>
                <button md-raised-button color="primary" (click)="btnClick()">primary</button>
            </header>
            <div class="booking-table">
                <mw-employee-table-view [date]="date" [events]="events" [columns]="tableEmployeeList">
                </mw-employee-table-view>
            </div>
        </div>
<!--         <md-card class="side-bar no-padding" [mwCollapse]="sideBarCollapse">
            <div class="mw-header">$ 当前营业收入</div>
        </md-card>  -->
    </div>
</div>
<!--     <div>
        <mw-timer-picker [options]="myDatePickerOptions1" (dateChanged)="onDateChanged1($event)" [selDate]="selectedDate1">
        </mw-timer-picker>
        <mw-timer-picker [options]="myDatePickerOptions2" (dateChanged)="onDateChanged2($event)" [selDate]="selectedDate2">
        </mw-timer-picker>
    </div> -->
