<!-- <h2>LOGIN</h2>
<p>{{message}}</p>
<p>
    <button (click)="login()" *ngIf="!authService.isLoggedIn">Login</button>
    <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
</p>

<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [myHighlight]="color" (click)="login('admin','admin')">Highlight me!</p>
<p [myHighlight]="color" [defaultColor]="'violet'">Highlight me too!</p> -->
<div class="login-component">
    <header class="Banner">
        <!-- <img src="/assets/images/logo.png" alt="美问云"> -->
    </header>
    <section class="Session">
        <form class="clearfix grid" role="form">
            <legend class="form-title">登录</legend>
            <div class="form-group">
                <label class="sr-only" for="identity">账号：</label>
                <div class="input-group">
                    <span class="input-group-addon">
                    	<md-icon class="md-18">account_circle</md-icon>
        			</span>
                    <input type="text" class="form-control" placeholder="登录帐号" />
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">密码：</label>
                <div class="input-group">
                    <span class="input-group-addon">
                    	<md-icon class="md-18">vpn_key</md-icon>
        			</span>
                    <input type="password" class="form-control" placeholder="密码" />
                </div>
            </div>
            <div class="unit half align-left login-action">
                <!-- <div class="checkbox checkbox-primary"> -->
                    <input type="checkbox" id="remember">
                    <label for="remember">保持登录</label>
                <!-- </div> -->
            </div>
            <div class="unit half align-center">
                <button type="submit" class="button-primary button-block">
                	<!-- <md-icon class="md-18">directions</md-icon> -->
                	<span>登录</span>
                </button>
            </div>
        </form>
        <div class="Session-links grid">
            <div class="unit half align-center">
                <a href="">创建新账号</a>
            </div>
            <div class="unit half align-center">
                <a href="">忘记密码</a>
            </div>
        </div>
    </section>
</div>
