<div class="order-list-component" layout="row">
    <div flex class="order-content">
        <header class="c-header" layout="row" layout-align="space-between center">
            <span class="mw-fs-24">订单列表</span>
            <!-- <div class="triangle"></div> -->
            <button md-raised-button color="primary" (click)="btn_click()">primary</button>
        </header>
        <md-card class="no-padding">
            <div layout="row" layout-align="start center" class="mw-tab-header">
                <div class="link-wrap order-link" layout="row" layout-align="start center">
                    <a [routerLink]="['/dashboard/order-list/1']" [ngClass]="{selected: order_type==1}">待付款</a>
                    <a [routerLink]="['/dashboard/order-list/2']" [ngClass]="{selected: order_type==2}">已付款</a>
                    <a [routerLink]="['/dashboard/order-list/3']" [ngClass]="{selected: order_type==3}">尾款单</a>
                    <a [routerLink]="['/dashboard/order-list/4']" [ngClass]="{selected: order_type==4}">历史订单</a>
                </div>
                <div flex layout="row" layout-align="end center">
                    <i (click)="side_bar_state=='collapse'?side_bar_state='show':side_bar_state='collapse'" class="fa fa-bars mw-click mw-fs-18 side-bar-button"></i>
                </div>
            </div>
            <div class="mw-tab-query">
                <span class="query-label">所属门店:</span>
            </div>
        </md-card>
        <md-card class="no-padding">
            <md-list>
                <div class="list-header" layout="row">
                    <span flex="20">会员信息</span>
                    <span flex="20">流水号/下单时间</span>
                    <span flex="20">订单内容</span>
                    <span flex="10">服务人员</span>
                    <span flex="10">应收金额</span>
                    <span flex="20">操作</span>
                </div>
                <md-list-item *ngFor="let item of order_list">
                    <div layout="row">
                        <div flex="20">{{item.member.name}}</div>
                        <div flex="20">{{item.order_date}}</div>
                        <div flex="20"></div>
                        <div flex="10"></div>
                        <div flex="10">{{item.receivable_money}}</div>
                        <div flex="20"></div>
                    </div>
                </md-list-item>
            </md-list>
        </md-card>
    </div>
    <md-card flex="20" class="side-bar no-padding" @sideBarState="side_bar_state">
        <div class="mw-header">$ 当前营业收入</div>
    </md-card>
</div>
