@import '../core/style/mixins';
@import '../core/style/color-const';
.order-list-component {
	md-card{
		margin-bottom:10px;
	}
    padding: 10px 0;
    .order-content{
    	padding: 0 20px;
    	.side-bar-button{
    		margin-right:20px;
    	}
        .member-name{
            color: $male;
        }
    }
    .triangle {
        @include triangle(right, 12px, #000);
    }
    .order-link {
        a {
            padding: 10px 20px;
            color:#fff;
        }
        a.selected {
            background: #fff;
            color:$default-text;
        }
    }
}
