// Main library CSS file that will eventually be delivered as angular2-material.css.
// Contains CSS rules that users will consume throughout their application as well as rules
// that are consumed across multiple components (and thus shouldn't be scoped).
//@import 'core/overlay/overlay';
//@import 'core/a11y/live-announcer';
@import 'core/style/preloader';
@import 'core/style/font-size';
@import 'core/style/color-const';
// * {
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
@font-face {
    src: url("/assets/fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot");
    src: url("/assets/fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("/assets/fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("/assets/fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular") format("svg");
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: $body-bg;
}

html,
body {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "PingFangSC-Light", "Hiragino Sans GB", "MicrosoftYaHeiLight", "Microsoft Yahei", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: $default-text;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

md-list {
    padding-top:0!important;
    .list-header {
        text-align: center;
        padding:10px 0;
        background:#f8f8f8;
        //border-bottom: 1px solid #f8f8f8;
    }
    md-list-item {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
    md-list-item:hover {
        background: #f5f5f6;
    }
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.slim-loading-bar-progress {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

.c-header {
    height: 60px;
}

.mw-header,
.mw-tab-header {
    background: $mw-primary;
    color: #fff;
}

.mw-tab-header {
    .link-wrap {
        margin-top: 10px;
        margin-left: 10px;
    }
}

.mw-tab-query {
    padding: 10px 20px;
    .query-label {
        @extend .mw-fs-12;
        color: $label-text;
    }
}

.mw-header {
    padding: 10px 10px;
}

.mw-click {
    cursor: pointer;
}

.side-bar {
    margin-top: 12px;
}
