<div class="dashboard">
    <div class="mw-sidebar">
        <md-toolbar>
        </md-toolbar>
        <md-nav-list>
            <a [routerLink]="['/login']" class="menu-item">
                <i class="fa fa-user"></i>
                <span>Login</span>
            </a>
            <a [routerLink]="['/dashboard/order']" class="menu-item" [class.selected]="selectedMenu=='order'">
                <i class="fa fa-user"></i>
                <span>Order</span>
            </a>
            <a [routerLink]="['/dashboard/order-list/'+OrderStatusEnum.UNPAID]" class="menu-item" [class.selected]="selectedMenu=='order-list'">
                <i class="fa fa-user"></i>
                <span>Order List</span>
            </a>
        </md-nav-list>
        <!-- <button md-button (click)="start.close()">CLOSE</button> -->
    </div>
    <div class="mw-body">
        <md-toolbar class="mw-toolbar">
        </md-toolbar>
        <div class="mw-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
