@import '../core/style/variables';
$side-menu-width:230px;
$side-menu-width-small: 60px;
.dashboard.small {
    padding-left: $side-menu-width-small;
}

.dashboard,.mw-sidebar,md-toolbar{
    transition: all 0.2s;
}
.dashboard {
    padding-top: $toolbar-height;
    padding-left: $side-menu-width;
    background: #EAEBEC;
    md-toolbar {
        padding: 0;
        md-toolbar-row {
            height: $toolbar-height;
        }
    }
    .mw-sidebar {
        width: $side-menu-width;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        background: #2b333d;
        md-toolbar {
            md-toolbar-row {
                text-align: center;
                i {
                    color: #fff;
                }
            }
            background: #2b333d;
        }
        .menu-item {
            color: #c5d0de;
            text-decoration: none;
            padding: 7px 15px;
            line-height: 24px;
            padding-left: 22px;
            display: block;
            md-icon {
                margin-right: 13px;
            }
        }
        .menu-item.selected,
        .menu-item:hover {
            color: #fff;
            background: #24272d;
        }
    }
    .mw-sidebar.small {
        width: $side-menu-width-small;
    }
    .mw-body {
        //min-height: 100vh;
        width: 100%;
        .mw-toolbar {
            z-index: 1;
            background: white;
            height: $toolbar-height;
            min-height: $toolbar-height;
            position: fixed;
            left: $side-menu-width;
            right: 0;
            top: 0;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, .14), 0 0 2px 2px rgba(0, 0, 0, .098), 0 0 5px 1px rgba(0, 0, 0, .084);
            opacity: 0.9;
        }
        .mw-toolbar.small {
            left: $side-menu-width-small;
        }
        .mw-content {
            min-height: calc(100vh - 50px);
        }
    }
}
