<div class="dashboard" [class.small]="sideMenuState=='small'">
    <div class="mw-sidebar" [class.small]="sideMenuState=='small'">
        <md-toolbar>
            <div flex layout="row" layout-align="center center">
                <i (click)="sideMenuState=='small'?sideMenuState='large':sideMenuState='small'" class="fa fa-bars mw-click mw-fs-18 mw-white"></i>
            </div>
        </md-toolbar>
        <md-nav-list>
            <a [routerLink]="['/login']" class="menu-item">
                <nobr><i class="fa fa-user"></i>
                <span *ngIf="sideMenuState=='large'">Login</span></nobr>
            </a>
            <a [routerLink]="['/dashboard/booking-table']" class="menu-item" [class.selected]="selectedMenu=='booking-table'">
                 <nobr><i class="fa fa-user"></i>
                <span *ngIf="sideMenuState=='large'">Booking Table</span></nobr>
            </a>
            <a [routerLink]="['/dashboard/order']" class="menu-item" [class.selected]="selectedMenu=='order'">
                 <nobr><i class="fa fa-user"></i>
                <span *ngIf="sideMenuState=='large'">Order</span></nobr>
            </a>
            <a [routerLink]="['/dashboard/order-list/'+OrderStatusEnum.UNPAID]" class="menu-item" [class.selected]="selectedMenu=='order-list'">
                 <nobr><i class="fa fa-user"></i>
                <span *ngIf="sideMenuState=='large'">Order List</span></nobr>
            </a>
        </md-nav-list>
        <!-- <button md-button (click)="start.close()">CLOSE</button> -->
    </div>
    <div class="mw-body">
        <md-toolbar class="mw-toolbar" [class.small]="sideMenuState=='small'">
        </md-toolbar>
        <div class="mw-content" layout="column">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
